{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Ecommerce!!!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <p align="justify">
                    Welcome to Ecommerce, your premier destination for seamless online shopping! We are
                    dedicated to providing a user-friendly platform where you can explore a wide range of high-quality
                    products at competitive prices. Our mission is to deliver a secure, convenient, and enjoyable
                    shopping
                    experience, backed by fast shipping, easy returns, and exceptional customer service. Whether you're
                    looking for the latest trends, everyday essentials, or unique gifts, we’ve got you covered. At
                    Ecommerce,
                    we prioritize customer satisfaction, innovation, and reliability—making us your trusted partner in
                    e-commerce. Shop with confidence and discover the ease of buying online with us!
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}